@tailwind base;
@tailwind components;
@tailwind utilities;

.bottom-46 {
  bottom: 188px;
}

.left-62 {
  left: 248px;
}

@layer utilities {
  .credit-link {
    @apply text-blue-400
  }

  .credit-link::after {
    @apply content-[''] absolute w-0 h-0.5 left-62 bottom-46 bg-blue-400 duration-200
  }

  .credit-link:hover::after {
    @apply w-10
  }
}

body {
  background-color: black;
}

.border-1 {
  border-width: 1px;
}

.default-gray {
  border-color: #565656;
}

.text-default-gray {
  color: #999999
}

.max-w-xxs {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.max-w-m {
  max-width: 400px;
}

.top-17 {
  top: 68px;
}

.rounded-4xl {
  border-radius: 30px;
}

.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #565656;
  color: #999999;
  font-size: 1.25rem/* 20px */;
  line-height: 1.75rem/* 28px */;
  transition: ease-in-out 200ms;
}

.social-media-link:hover {
  border-radius: 25%;
  border-color: #28e98c;
  color: #28e98c;
}

.bg-green-primary {
  background-color: #28e98c;
}

.text-green-primary {
  color: #28e98c;
}

.hover-hire {
  cursor: pointer;
  border: 2px #28e98c solid;
  transition: 200ms ease-in-out;
}

.hover-hire:hover {
  border-color: #28e98c;
  background-color: black;
  color: #28e98c;
}